<!---MODULO ALERTAS CONDUCTOR-->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RUTAPP - Panel Conductor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.ico') }}">
</head>

<body class="conductor_body vista-alertas form-alerta-conductor">

    <header>
        {# Incluye el encabezado (header) de la página #}
        {% include 'layout/header.html' %}
    </header>

    <main>

        <div class="conductor-layout">

            <div class="conductor-menu">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo RUTAPP" class="logo">

                <h2>Panel Conductor</h2>

                <ul>
                    <li><a href="{{ url_for('conductor') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('mi_ruta') }}">Mis Rutas</a></li>
                    <li><a href="{{ url_for('estudiantes_conductor') }}">Estudiantes</a></li>
                    <li><a href="{{ url_for('alertas_conductor') }}">Alertas</a></li>
                    <li>
                        <a href="{{ url_for('logout') }}" class="btn-logout">
                            Cerrar sesión
                        </a>
                    </li>
                </ul>
            </div>
            <div class="container-aler">
                <header class="main-header-aler">
                    <h1>Alertas</h1>
                    <button class="btn-clear-aler">Limpiar seleccionadas</button>
                </header>

                <!--- fORMULARIO PARA CREAR ALERTAS--->

                <form method="POST" class="form-alerta-conductor">
                    <select name="tipo_alerta" required>
                        <option value="">Seleccione tipo</option>
                        <option value="cerca_punto">Vehículo cerca</option>
                        <option value="llegada">Llegó al punto</option>
                        <option value="retraso">Retraso</option>
                        <option value="incidente">Incidente</option>
                    </select>

                    <input type="number" name="id_estudiante" placeholder="ID estudiante">

                    <input type="number" name="id_ruta" placeholder="ID ruta">

                    <textarea name="mensaje" placeholder="Escribe el mensaje" required></textarea>

                    <button type="submit" class="btn-read">Enviar alerta</button>
                </form>

                <nav class="filter-tabs-aler">
                    <button class="tab-aler">Todas</button>
                    <button class="tab-active">Sin Leer</button>
                    <button class="tab-aler">Leídas</button>
                    <button class="tab-aler">Resueltas</button>
                </nav>

                <div class="table-container-aler">
                    <a href="{{ url_for('conductor') }}" class="btn btn-volver">
                        Volver
                    </a>
                    <table>
                        <thead>
                            <tr>
                                <th width="40"><input type="checkbox"></th>
                                <th>Estudiante</th>
                                <th>Tipo</th>
                                <th>Hora</th>
                                <th>Mensaje</th>
                                <th class="actions-header">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if alertas %}
                            {% for alerta in alertas %}
                            <tr>
                                <td><input type="checkbox"></td>

                                <td>
                                    <div class="user-info-aler">
                                        <img src="{{ url_for('static', filename='img/avatar h.png') }}">
                                        {{ alerta.id_estudiante if alerta.id_estudiante else 'General' }}
                                    </div>
                                </td>

                                <td>
                                    <span class="badge">
                                        ⚠️ {{ alerta.tipo_alerta }}
                                    </span>
                                </td>

                                <td>{{ alerta.fecha_hora.strftime('%I:%M %p') }}</td>

                                <td>{{ alerta.mensaje }}</td>

                                <td>
                                    <div class="actions-aler">
                                        <button class="btn-read">Marcar leída</button>
                                        <button class="btn-resolve">Resolver</button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="6">No hay alertas registradas</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        {# ===== FOOTER ===== #}
        {% include 'layout/footer.html' %}
    </footer>
</body>

</html>