<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RUTAPP - Panel Conductor</title>
    <link rel="stylesheet" href='styles.css'>
</head>

<body>

    <div class="conductor-layout">

        <div class="conductor-menu">
            <img
             src="img/logo.png"
             alt="Logo RUTAPP"
             class="logo"
            >

            <h2>Panel Conductor</h2>

            <ul>
                <li><a href="conductor.html">Dashboard</a></li>
                <li><a href="mi_ruta.html">Mis Rutas</a></li>
                <li><a href="estudiantes_conductor.html">Estudiantes</a></li>
                <li><a href="alertas_conductor.html">Alertas</a></li>
                <li>Cerrar Sesión</li>
                
                
            </ul>
        </div>

        <div class="conductor-content">
            <h2>Bienvenido</h2>
            <p>Visualice el recorrido y gestione las alertas para los padres de familia.</p>

                <img
                 src="img/mapa.png" 
                 alt="Mapa de rutas en tiempo real"
                 class="mapa-conductor"
                >


        </div>
    </div>

</body>
</html>