<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RUTAPP - Panel Conductor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="conductor_body">

    <div class="conductor-layout">

        <div class="conductor-menu">
            <img
             src="{{ url_for('static', filename='img/logo.png') }}"
             alt="Logo RUTAPP"
             class="logo"
            >

            <h2>Panel Conductor</h2>

            <ul>
                <li><a href="{{ url_for('conductor') }}">Dashboard</a></li>
                <li><a href="{{ url_for('mi_ruta') }}">Mis Rutas</a></li>
                <li><a href="{{ url_for('estudiantes_conductor') }}">Estudiantes</a></li>
                <li><a href="{{ url_for('aler_conduc') }}">Alertas</a></li>
                <li>
                    <a href="{{ url_for('logout') }}" class="btn-logout">
                            Cerrar sesión
                    </a>
                </li>
            </ul>
        </div>

        <main class="main-content"> 
            <section class="cardr">
                <header class="card-header">
                    <h1>Mi Ruta</h1>
                </header>
                
                <div class="card-body">
                    <div class="route-info">
                        <label>Ruta</label>
                        <div class="input-group">
                            <input type="text" value="Ruta 301" readonly>
                            
                        </div>

                        <div class="stops-section">
                            <label>Paradas</label>
                            <ul class="stops-list">
                                <li>Calle Del Pilar</li>
                                <li>Park Centro</li>
                                <li>Centro Insurgentes</li>
                                <li class="selected">Escuela Primaria San Juan</li>
                            </ul>
                                <footer class="card-footer">
                                        <button class="btn-start">Iniciar Ruta</button>
                                </footer>                            

                        </div>
                    </div>

                    <div class="map-container">
                        <div class="map-placeholder">
                            <div class="map-controls">
                                <span><i class="fas fa-search"></i></span>
                                <span><i class="fas fa-layer-group"></i></span>
                            </div>
                              <img
                                src="{{ url_for('static', filename='img/mapa.png') }}" 
                                 alt="Mapa de rutas en tiempo real"
                                 class="mapa-conductor"
                              >
                        </div>
                    </div>
                </div>
                 <footer class="card-ubication">
                        <button class="btn-env">Enviar Ubicación</button>
                </footer>

            </section>
        </main>
    </div>
</body>
</html>