<!DOCTYPE html>
<html>
<head>
    <title>Gestión de Usuarios</title>
</head>

<body>

<h1>Lista de Usuarios</h1>

<table border="1">

    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Nombre completo</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Rol</th>
        </tr>
    </thead>

    <tbody>

        {% for usuario in usuarios %}

        <tr>

            <td>{{ usuario.id_usuario }}</td>
            <td>{{ usuario.nombre_usuario }}</td>
            <td>{{ usuario.nombres_y_apellidos }}</td>
            <td>{{ usuario.correo }}</td>
            <td>{{ usuario.telefono }}</td>
            <td>{{ usuario.id_rol }}</td>

        </tr>

        {% endfor %}

    </tbody>

</table>

<br>

<a href="{{ url_for('administrador') }}">Volver al panel administrador</a>

</body>
</html>

