<!-- ===== FORMULARIO CREAR RUTA ===== -->
<!DOCTYPE html>
<html>

<head>
    <title>Crear Ruta</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.ico') }}">
</head>

<body class="bg-secundario">

    <header>
        {# Incluye el encabezado (header) de la página #}
        {% include 'layout/header.html' %}

    </header>

    <main>

        <img src="{{ url_for('static', filename='img/imagen_login.png') }}" alt="Imagen de fondo Login"
            class="Imagen" />
        <div class="admin-layout">

            <div class="admin-menu">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo RUTAPP" class="logo">

                <h2>Panel {{nombre_panel}}</h2>

                <ul>
                    <li>
                        <a href="{{ url_for('dashboard') }}">
                            Dashboard
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for('usuarios') }}">
                            Usuarios
                        </a>
                    </li>
                    <li>Rutas</li>
                    <li>Ubicación en tiempo real</li>
                    <li>
                        <a href="{{ url_for('logout') }}" class="btn-logout">
                            Cerrar sesión
                        </a>
                    </li>
                </ul>
            </div>

            <form id="formCrearRuta" class="form-crear_estudiante" action="{{ url_for('guardar_ruta') }}"
                method="POST">

                <h1>Crear Ruta</h1>


                <div class="form-group">
                    <label>Nombre Ruta:</label>
                    <input type="text" name="nombre_ruta" maxlength="50" required>
                </div>

                <div class="form-group">
                    <label>Descripción:</label>
                    <input type="text" name="descripcion_ruta" maxlength="100" required>
                </div>

                <div class="form-group">
                    <label>Hora salida:</label>
                    <input type="time" name="hora_salida" maxlength="6" required>
                </div>

                <div class="form-group">
                    <label>Hora llegada:</label>
                    <input type="time" name="hora_llegada" maxlength="6" required>
                </div>

                <div class="form-group filtro-editar-estudiante">
                    <label>Conductor:</label>
                    <select name="id_conductor">
                        <option value="">Seleccione un conductor</option>

                        {% for conductor in conductores %}

                        <option value="{{ conductor.id_usuario }}">
                            {{ conductor.id_usuario }} - {{ conductor.nombres_y_apellidos }}
                        </option>

                        {% endfor %}

                    </select>

                </div>

                <div class="form-group filtro-editar-estudiante">
                    <label>Vehículo:</label>
                    <select name="id_vehiculo">
                        <option value="">Seleccione un Vehículo</option>

                        {% for vehiculo in vehiculos %}

                        <option value="{{ vehiculo.id_vehiculo }}">
                            {{ vehiculo.id_vehiculo }}
                        </option>

                        {% endfor %}

                    </select>
                </div>

                <div class="form-group filtro-editar-estudiante">
                    <label>Estado:</label>
                    <select name="estado" required>
                        <option value="">Seleccione un estado</option>

                        {% for estado in estados %}

                        <option value="{{ estado.estado }}">
                            {{ estado.estado }}
                        </option>

                        {% endfor %}

                    </select>
                </div>

                <button type="button" class="btn btn-guardar" onclick="confirmarCreacionRuta()">
                    Guardar</button>

                <a href="{{ url_for('gestion_rutas') }}" class="btn btn-cancelar">
                    Cancelar
                </a>
            </form>

            </form>
            <footer class="footer">
                {# ===== FOOTER ===== #}
                {% include 'layout/footer.html' %}
            </footer>
        </div>
    </main>
</body>

</html>