<!---GESTION DE ALERTAS MODULO ADMINSUPERADMIN(OBSERVACIONES)-->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Gestionar alerta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.ico') }}">
</head>

<body class="bg-secundario">

    <header>
        {% include 'layout/header.html' %}
    </header>

    <main>
        <img src="{{ url_for('static', filename='img/imagen_login.png') }}" alt="Imagen de fondo Login"
            class="Imagen" />
        <div class="admin-layout">

            <div class="admin-menu">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo RUTAPP" class="logo">

                <h2>Panel {{nombre_panel}}</h2>

                <ul>
                    <li>Dashboard</li>
                    <li>Usuarios</li>
                    <li>Rutas</li>
                    <li>Ubicación en tiempo real</li>
                    <li>
                        <a href="{{ url_for('logout') }}" class="btn-logout">
                            Cerrar sesión
                        </a>
                    </li>
                </ul>
            </div>

            <div class="admin-content">

                <h1>Gestionar alerta</h1>
                <a href="{{ url_for('gestion_alerta') }}" class="btn btn-volver">
                    Volver
                </a>

                <form method="POST" class="form-alerta-conductor">
                    <label>Estado</label>
                    <select name="estado" required>
                        <option value="nueva" {% if alerta.estado=='nueva' %}selected{% endif %}>Nueva</option>
                        <option value="leida" {% if alerta.estado=='leida' %}selected{% endif %}>Leída</option>
                        <option value="en_proceso" {% if alerta.estado=='en_proceso' %}selected{% endif %}>En proceso
                        </option>
                        <option value="resuelta" {% if alerta.estado=='resuelta' %}selected{% endif %}>Resuelta</option>
                    </select>

                    <label>Observación administrador</label>
                    <textarea name="observacion_admin">{{ alerta.observacion_admin or '' }}</textarea>

                    <button type="submit" class="btn btn-guardar">Guardar</button>
                </form>
            </div>
        </div>
    </main>

    <footer class="footer">
        {# ===== FOOTER ===== #}
        {% include 'layout/footer.html' %}
    </footer>

</body>

</html>