<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inicio - RUTAPP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body class="bg-home">

    <header>
    {# Incluye el encabezado (header) de la página #}
    {% include 'layout/header.html' %}
    </header>

    <main>

        <img src="{{ url_for('static', filename='img/imagen_login.png') }}" alt="Imagen de fondo Login"
            class="Imagen" />

        <div class="login-container">
            <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo">

            <h1>Bienvenido a RUTAPP</h1>

            <p class="slogan">
                "Conectando rutas escolares de forma segura y eficiente"
            </p>

            <p>
                Sistema de gestión de rutas escolares que permite a padres,
                conductores y administradores interactuar de forma segura y eficiente.
            </p>


            <a href="{{url_for('login')}}" class="btn-ingresar">Ingresar al Sistema</a>
        </div>

        <h2 class="titulo-home">¿Cómo deseas ingresar?</h2>



        <div class="cards">

            <div class="card">
                <a href="{{ url_for('login') }}">
                    <h3>Soy Administrador</h3>
                    <p>Gestiona usuarios, vehículos y rutas.</p>
                </a>
            </div>

            <div class="card">
                <a href="{{ url_for('login') }}">
                    <h3>Soy Conductor</h3>
                    <p>Consulta tu ruta y registra estudiantes.</p>
                </a>
            </div>

            <div class="card">
                <a href="{{ url_for('login') }}">
                    <h3>Soy Padre de familia</h3>
                    <p>Consulta rutas y reporta novedades.</p>
                </a>
            </div>
    </main>

    <footer class="footer">
        <p>© 2026 RUTAPP - Proyecto ADSO SENA</p>
    </footer>


</body>

</html>