<!---FORMULARIO PARA LA RECUPERACION DE CONTRASEÑA DE USUARIO-->

<!DOCTYPE html>
<html>

<head>
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.ico') }}">
</head>

<body class="bg-secundario">

    <header>
        {# Incluye el encabezado (header) de la página #}
        {% include 'layout/header.html' %}

    </header>

    <main>

        <img src="{{ url_for('static', filename='img/imagen_login.png') }}" alt="Imagen de fondo Login"
            class="Imagen" />

        <div class="admin-layout">

            <div class="admin-menu">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo RUTAPP" class="logo">

                <h2>Panel {{nombre_panel}}</h2>

                <ul>
                    <li>Dashboard</li>
                    <li>Usuarios</li>
                    <li>Rutas</li>
                    <li>Ubicación en tiempo real</li>
                    <li>
                        <a href="{{ url_for('logout') }}" class="btn-logout">
                            Cerrar sesión
                        </a>
                    </li>
                </ul>
            </div>

            <form id="formRecuperarPassword" class="form-recuperar_password" method="POST"
                action="{{ url_for('buscar_correo') }}">

                <h2>Recuperar contraseña</h2>

                <div class="form-group" class="forgot-password">
                    <label for="email">
                        Correo electrónico:
                    </label>

                    <input type="email" name="email" id="email">
                </div>

                <div class="forgot-password">
                    <button type="submit" class="forgot-password">
                        Recuperar contraseña
                    </button>
                </div>
            </form>
        </div>
    </main>

    <footer class="footer">
        {% include 'layout/footer.html' %}
    </footer>

</body>

</html>