<!---FORMULARIO PARA LA RECUPERACION DE CONTRASEÑA DE USUARIO-->

<!DOCTYPE html>
<html>

<head>
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.ico') }}">
</head>

<body class="bg-secundario">

    <header>
        {# Incluye el encabezado (header) de la página #}
        {% include 'layout/header.html' %}

    </header>

    <main>

        <img src="{{ url_for('static', filename='img/imagen_login.png') }}" alt="Imagen de fondo Login"
            class="Imagen" />

        <div class="admin-layout">



            <form id="formRecuperarPassword" class="form-recuperar-password" method="POST"
                action="{{ url_for('buscar_correo') }}">

                <h2>Recuperar contraseña</h2>

                <div class="form-group" class="forgot-password">
                    <label for="email">
                        Correo electrónico:
                    </label>

                    <input type="email" name="email" id="email">
                </div>

                
                    <button type="submit" class="forgot-password-button">
                        Recuperar contraseña
                    </button>
                    <a href="{{ url_for('login') }}" class="btn btn-cancelar">Cancelar</a>
                
            </form>
        </div>
    </main>

    <footer class="footer">
        {% include 'layout/footer.html' %}
    </footer>

</body>

</html>