<!---PANEL SUPER ADMINISTRADOR-->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RUTAPP - Panel Superadministrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="bg-secundario supadmin-page">

    <header>
        {# Incluye el encabezado (header) de la página #}
        {% include 'layout/header.html' %}
    </header>

    <main>

        <img src="{{ url_for('static', filename='img/imagen_login.png') }}" alt="Imagen de fondo Login"
            class="Imagen" />

        <div class="admin-layout">

            <div class="admin-menu">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo RUTAPP" class="logo">

                <h2>Panel {{nombre_panel}}</h2>

                <ul>
                    <li>Dashboard</li>
                    <li>Usuarios</li>
                    <li>Rutas</li>
                    <li>Ubicación en tiempo real</li>
                    <li>
                        <a href="{{ url_for('logout') }}" class="btn-logout">
                            Cerrar sesión
                        </a>
                    </li>
                </ul>
            </div>

            <div class="admin-content">
                <h2>Bienvenido</h2>
                <p>Desde este panel podrá gestionar la información del sistema RUTAPP.</p>

                <img src="{{ url_for('static', filename='img/mapa.png') }}" alt="Mapa de rutas en tiempo real"
                    class="mapa-admin">

                <div class="admin-buttons">
                    <a href="{{ url_for('usuarios') }}" class="btn">Gestionar usuarios</a>
                    <a href="{{ url_for('gestion_estudiantes') }}" class="btn">Gestionar estudiantes</a>
                    <a href="{{ url_for('gestion_vehiculos') }}" class="btn">Gestionar vehículos</a>
                    <a href="{{ url_for('gestion_rutas') }}" class="btn">Gestionar rutas</a>
                    <a href="{{ url_for('gestion_alerta') }}" class="btn">Gestionar alertas</a>
                </div>

            </div>

        </div>

    </main>

    <footer class="footer">
        {# ===== FOOTER ===== #}
        {% include 'layout/footer.html' %}
    </footer>

</body>

</html>