<!DOCTYPE html>
<html>

<head>
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body class="bg-secundario vista-usuario">

    <header>
        {# Incluye el encabezado (header) de la página #}
        {% include 'layout/header.html' %}
    </header>

    <main>

        <img src="{{ url_for('static', filename='img/imagen_login.png') }}" alt="Imagen de fondo Login"
            class="Imagen" />

        <div class="admin-layout">

            <div class="admin-menu">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo RUTAPP" class="logo">

                <h2>Panel {{nombre_panel}}</h2>
                <ul>
                    <li>Dashboard</li>
                    <li>Usuarios</li>
                    <li>Rutas</li>
                    <li>Ubicación en tiempo real</li>
                    <li>
                        <a href="{{ url_for('logout') }}" class="btn-logout">
                            Cerrar sesión
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tabla-usuarios-container">

                <h1>Gestion de Usuarios</h1>

                <table>

                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Usuario</th>
                            <th>Nombre completo</th>
                            <th>Correo</th>
                            <th>Teléfono</th>
                            <th>Rol</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% if usuarios %}
                        {% for usuario in usuarios %}

                        <tr>

                            <td>{{ usuario.id_usuario }}</td>
                            <td>{{ usuario.nombre_rol }}</td>
                            <td>{{ usuario.nombres_y_apellidos }}</td>
                            <td>{{ usuario.correo }}</td>
                            <td>{{ usuario.telefono }}</td>
                            <td>{{ usuario.nombre_rol }}</td>

                            <!--  Boton de editar usuario -->

                            <td style="width: 20%;"> <!---Ancho fijo para la columna de acciones--->
                                <div class="acciones">

                                    <a href="{{url_for('editar_usuario', id_usuario = usuario.id_usuario) }}"
                                        class="btn btn-editar">
                                        Editar
                                    </a>

                                    <!--  Boton de eliminar usuario -->

                                    <form id="formEliminar{{usuario.id_usuario}}"
                                        action="{{ url_for('eliminar_usuario', id_usuario=usuario.id_usuario) }}"
                                        method="POST">

                                        <button type="button" class="btn btn-eliminar"
                                            onclick="confirmarEliminacion('{{usuario.id_usuario}}')">
                                            Eliminar
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="6">No hay usuarios registrados</td>
                        </tr>
                        {% endif %}
                    </tbody>

                </table>

            </div>

            <br>
            <div>
                <!--  Boton volver (vista lista de usuarios) -->
                <a href="{{ url_for('volver_panel') }}" class="btn btn-volver">Volver</a> <!---Botón para volver al panel--->
                <!--  Boton crear nuevo usuario (vista lista de usuarios) -->
                <a href="{{ url_for('crear_usuario') }}" class="btn btn-crear">Crear nuevo usuario</a>

            </div>


        </div>
    </main>

    <footer class="footer">
        {# ===== FOOTER ===== #}
        {% include 'layout/footer.html' %}
    </footer>


</body>

</html>