<!---ALERTAS MODULO PADRE DE FAMILIA-->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Alertas Padres</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.ico') }}">
</head>

<body class=" padre-body bg-secundario">

    <header>
        {% include 'layout/header.html' %}
    </header>


    <div class="padre-layout">

            <!-- Menú lateral -->
            <div class="padre-menu">
                <img src="{{ url_for('static', filename='img/imagen_padres.png') }}" alt="Imagen de fondo" class="Imagen" />
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo RUTAPP" class="logo">

                <h2>Panel Padre de Familia</h2>

                <ul class="padre-menu">
                    <li><a href="{{ url_for('padres') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('informacion_conductor') }}">Información conductor</a></li>
                    <!-- <li><a href="{{ url_for('estudiantes_padre') }}">Estudiantes</a></li> -->
                    <li><a href="{{ url_for('logout') }}" class="btn-logout">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>