<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RUTAPP - Panel Padre de Familia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="conductor_body">
    
    <div class="padre-layout">

        <div class="padre-menu">
            <img
             src="{{ url_for('static', filename='img/logo.png') }}"
             alt="Logo RUTAPP"
             class="logo"
            >

            <h2>Panel Padre de Familia</h2>

            <ul>
                <li><a href="{{ url_for('padres') }}">Dashboard</a></li>
                <li><a href="{{ url_for('informacion_conductor') }}">Información del conductor</a></li>
                <li><a href="{{ url_for('estudiantes_padre') }}">Estudiantes</a></li>
                <li>Estado de la ruta</li>
                <li>Reportar inasistencia</li>
                <li>Cerrar sesión</li>
            </ul>
        </div>
        <main class="content-estp">
            <section class="header-section-estp">
                <h1>Estudiantes</h1>
            </section>

            <div class="table-card-estp">
                <div class="table-header-estp">
                    <div class="search-container-estp">
                        <input type="text" placeholder="Buscar:">
                        <button><i class="fas fa-search-estp"></i></button>
                    </div>
                </div>

                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Nombre</th>
                            <th>Grado</th>
                            <th>Escuela</th>
                            <th>Estado</th>
                            <th>Última ubicación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="{{ url_for('static', filename='img/avatar h.png') }}" class="avatar"></td>
                            <td class="bold-text-estp">Mateo Pérez</td>
                            <td>5º</td>
                            <td>Colegio Primaria<br><span class="sub-text-estp">San Martín</span></td>
                            <td><span class="status-badge-estp">A bordo</span></td>
                            <td><a href="#" class="link-location-estp">Ver ubicación</a></td>
                        </tr>
                        <tr>
                            <td><img src="{{ url_for('static', filename='img/avatar f.png') }}" class="avatar"></td>
                            <td class="bold-text-estp">Laura perez</td>
                            <td>3º</td>
                            <td>Escuela Primaria<br><span class="sub-text-estp">San Martín</span></td>
                            <td><span class="status-badge-estp">A bordo</span></td>
                            <td><a href="#" class="link-location">Ver ubicación</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </main>
    </div>

</body>
</html>



    </div>
