<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RUTAPP - Panel Padre de Familia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.ico') }}">
</head>

<body class="padre_body bg-secundario vista-padres">

    <header>
        {# Incluye el encabezado (header) de la página #}
        {% include 'layout/header.html' %}
    </header>

    <img src="{{ url_for('static', filename='img/imagen_padres.png') }}" alt="Imagen de fondo" class="Imagen" />

    <div class="padre-layout">

        <!-- Menú lateral -->
        <div class="padre-menu">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo RUTAPP" class="logo">

            <h2>Panel {{ nombre_panel }}</h2>

            <ul>
                <li><a href="{{ url_for('informacion_conductor') }}">Información conductor</a></li>
                <!-- <li><a href="{{ url_for('estudiantes_padre') }}">Estudiantes</a></li> -->
                <li>
                    <a href="{{ url_for('logout') }}" class="btn-logout">
                        Cerrar sesión
                    </a>
                </li>
            </ul>
        </div>

        <!-- Contenido principal -->
        <div class="padre-content">
            <h2>Bienvenido {{ nombre_completo }} </h2>
            <p>Consulte la información del conductor y el estado de la ruta escolar.</p>

            <img src="{{ url_for('static', filename='img/mapa.png') }}" alt="Mapa de la ruta" class="mapa-admin">

            <div class="admin-buttons">
                <a href="{{ url_for('informacion_conductor') }}" class="btn">Ver conductor</a>
                <a href="{{ url_for('ver_ruta') }}" class="btn">Ver ruta</a>
                <a href="{{ url_for('alertas_padres') }}" class="btn">Alertas</a>
            </div>
        </div>

    </div>

</body>

<footer class="footer">
    {# ===== FOOTER ===== #}
    {% include 'layout/footer.html' %}
</footer>

</html>